
 .headerIcon{
    font-size: 1.4rem;
 }
.expendAbs{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    width: max-content;

    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
    border-radius: 3px;
    text-align: left;
    
}


div.popoverWrap{

    margin-top: 12px;
    background: #fff;
  
    border-radius: 3px;
    overflow: visible;
}
.popoverWrap::before{
    content: '';
    position: absolute;
    top:-8px;
    right: 20px;
    width: 12px;
    height: 12px;

    background: #fff;
    transform: rotate(45deg);
    border-top: 1px solid rgba(145, 158, 171, 0.12);
    border-left: 1px solid rgba(145, 158, 171, 0.12);
    z-index: 3;
}
.expendAbs:last-child,.expendAbs:nth-last-child(2){
    right: 0;
    left: auto;
}
.expendArea{
    position: relative;
}
.expendArea:hover .expendAbs{
    display: block;
   
   
}
@keyframes expendMenu{
    from{
        opacity: 0;
        transform: skewX(0);
    }

    to{
        opacity: 1;
        /* //transform: skewX(1); */
    }
}