.sideWrap{
    position: fixed;
    width: 280px;
    height: 100%;

    border-right: 1px dashed rgba(145, 158, 171, 0.24);
    transition:width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    z-index: 10;
    background: #fff;
}
.sideOperate{
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    align-items: center;
}
.sideDrawer{
    width: 280px;
}
.simpleDrawer{
    width: calc(40Px + 32px);
}
.sideUserWrap{
    padding:0px 16px;

}
.userContent{
    background: rgba(145, 158, 171, 0.12);
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 20px 16px;
}
.userInfo{
    width: 100%;
  
}

.sideUserName{
    font-size: 18px;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sideIntroduct{
    color: inherit;
    font-size: 13px;
    color: #777474;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.simapleSideWrap{

    width: calc(40Px + 32px);
    transition:all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    
}

 
.simapleSideWrap .userContent{
    background: transparent;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}
.simapleSideWrap .userInfo{
    width: 0;
    opacity: 0;

}
.sideExpend{
    transform: rotate(-90deg);
    transition: transform 0.5s;
}
.sideZoom{
    transform: rotate(90deg);
    transition: transform 0.5s;
}